
*{
  background-color: black;
}

.card {
    text-align: center;
    background-color:white !important;
}

.titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    font-size: 10rem;
    text-align: center;
    color: #c57709;
    height:50vh;
    line-height: 20vh;
    font-weight: 100;   
}


.texto{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color:#b1df0b;
}

.chistes {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: 1.5rem;
    color: white;
}

.btn {
    width: 10rem;
    height:3rem;
    background-color: #fcedd8 !important;
    color: #df911d !important;
    border-radius: 5px !important;
    font-weight: bold;
    
}

.btn:hover {
    background-color: #e49e08 !important;
    color: #fff !important;
}